.table {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: none !important;
}

th {
    background-color: #f5f5f5;
}

th,
td {
    padding: 15px 10px;
}

th:first-child,
td:first-child {
    border-radius: 5px 0px 0px 0px;
}

th:last-child,
td:last-child {
    border-radius: 0px 5px 0px 0px;
}

.table-primary {
    background-color: #e6f0ff !important;
}