.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: none !important;
}

th {
  background-color: #f5f5f5;
}

th,
td {
  padding: 15px 10px;
}

th:first-child,
td:first-child {
  border-radius: 5px 0px 0px 0px;
}

th:last-child,
td:last-child {
  border-radius: 0px 5px 0px 0px;
}

.table-primary {
  background-color: #e6f0ff !important;
}
